@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }  
  
body{
    background-color:#d8dcdf;
    
}
a{
    text-decoration: none;
    color:#212529;
}

.topsection{
      /* Background color */
      background-color:#42b649;
      color:#d8dcdf;

      /* You can use gradient background color such as
      background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */
  
      /* Curved corners */
      border-bottom-left-radius: 50% 40%;
      border-bottom-right-radius: 50% 40%;
      transition:all linear 0.5s;
}
.topsectionChangeGreen{
    background-color: #42b649;
}
.topsectionChangeBlue{
    background-color: #175a74;
}
a:hover{
    text-decoration: none;
    color:#212529;
}
a:focus{
    text-decoration: none;
    color:#212529;
}
.hero{
    /* padding-top:30px; */
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
}
.logo{
    width:77px;
    border-radius: 21px;
    background: #d8dcdf;
    box-shadow:  8px 8px 15px #b8bbbe,
                -8px -8px 15px #f8fdff;
}
.energyimg{
 margin-top:32%;
 width:100px;
}
.erpimg{
margin-top:32%;
width:100px
}
.select{
    margin-top:140px
}
.center{
    display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
    margin-top: 20px;
    font-family: 'Cantarell', sans-serif;

}
.energy{
    margin-left: auto;
    margin-right: auto;
    width:340px;
    height:320px;
    border-radius: 50px;
    background: #d8dcdf;
    box-shadow:  34px 34px 68px #b8bbbe,
             -34px -34px 68px #f8fdff;
     animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.energy:hover{
    box-shadow: inset 18px 18px 38px #c9d2d9,
            inset -18px -18px 38px #ffffff;
}
.energy:active{
    box-shadow: inset 18px 18px 38px #c9d2d9,
            inset -18px -18px 38px #ffffff;
}
.erp{
    margin-left: auto;
    margin-right: auto;
    width:340px;
    height:320px;
    border-radius: 50px;
    background: #d8dcdf;
    box-shadow:  34px 34px 68px #b8bbbe,
             -34px -34px 68px #f8fdff;
    animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.erp:hover{
    box-shadow: inset 18px 18px 38px #c9d2d9,
            inset -18px -18px 38px #ffffff;
}
.erp:active{
    box-shadow: inset 18px 18px 38px #c9d2d9,
            inset -18px -18px 38px #ffffff;
}

@media screen and (min-width:1024px) {
    .hero{
        padding-top:30px;
    }
    .energyimg{
     margin-top:32%;
     width:100px;
    }
    .erpimg{
    margin-top:32%;
    width:100px
    }
    .select{
        margin-top:110px
    }
    .center{
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer{
        margin-top: 20px;
    }
    .energy{
        margin-left: auto;
        margin-right: auto;
        width:340px;
        height:320px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  34px 34px 68px #b8bbbe,
             -34px -34px 68px #f8fdff;
        transition: all 0.9s;
    }
    .erp{
        margin-left: auto;
        margin-right: auto;
        width:340px;
        height:320px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  34px 34px 68px #b8bbbe,
             -34px -34px 68px #f8fdff;
        transition: all 0.9s;

    }  
}
@media screen and (min-width:768px) and (max-width:1024px){
    .energy{
        margin-left: auto;
        margin-right: auto;
        width:300px;
        height:300px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  30px 30px 60px #b8bbbe,
             -30px -30px 60px #f8fdff;
    }
    .erp{
        margin-left: auto;
        margin-right: auto;
        width:300px;
        height:300px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  30px 30px 60px #b8bbbe,
             -30px -30px 60px #f8fdff;
    }
}
@media screen and (min-width:425px) and (max-width:768px){
    .hero{
        padding-top:10px;
    }
    .energyimg{
     width:80px;
    }
    .erpimg{
    width:80px
    }
    .select{
        margin-top:40px
    }
    
    .energy{
        margin-left: auto;
        margin-right: auto;
        width:210px;
        height:210px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  21px 21px 42px #b8bbbe,
             -21px -21px 42px #f8fdff;
    }
    .erp{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width:210px;
        height:210px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  21px 21px 42px #b8bbbe,
             -21px -21px 42px #f8fdff;;
    }
}
@media screen and (min-width:375px) and (max-width:425px){
    .hero{
        padding-top:10px;
    }
    .energyimg{
     width:70px;
    }
    .erpimg{
    width:70px
    }
    .select{
        margin-top:40px
    }
    .center{
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer{
        margin-top: 20px;
    }
    .energy{
        margin-left: auto;
        margin-right: auto;
        width:210px;
        height:210px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  21px 21px 42px #b8bbbe,
             -21px -21px 42px #f8fdff;
    }
    .erp{
        margin-left: auto;
        margin-right: auto;
        margin-top:40px;
        width:210px;
        height:210px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  21px 21px 42px #b8bbbe,
             -21px -21px 42px #f8fdff;
    }
}
@media screen and (min-width:320px) and (max-width:375px){
    .hero{
        padding-top:10px;
    }
    .energyimg{
     width:70px;
    }
    .erpimg{
    width:70px
    }
    .select{
        margin-top:30px
    }
    .center{
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer{
        margin-top: 20px;
    }
    .energy{
        margin-left: auto;
        margin-right: auto;
        width:210px;
        height:210px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  21px 21px 42px #b8bbbe,
             -21px -21px 42px #f8fdff;
    }
    .erp{
        margin-left: auto;
        margin-right: auto;
        margin-top:40px;
        width:210px;
        height:210px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  21px 21px 42px #b8bbbe,
             -21px -21px 42px #f8fdff;
    }
}
@media screen and (max-width:320px){
    .hero{
        padding-top:10px;
    }
    .energyimg{
     width:70px;
    }
    .erpimg{
    width:70px
    }
    .select{
        margin-top:30px
    }
    .center{
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer{
        margin-top: 20px;
    }
    .energy{
        margin-left: auto;
        margin-right: auto;
        width:210px;
        height:210px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  21px 21px 42px #b8bbbe,
             -21px -21px 42px #f8fdff;
    }
    .erp{
        margin-left: auto;
        margin-right: auto;
        margin-top:40px;
        width:210px;
        height:210px;
        border-radius: 50px;
        background: #d8dcdf;
        box-shadow:  21px 21px 42px #b8bbbe,
             -21px -21px 42px #f8fdff;
    }
}